body{
    background-color:bisque;
}



header {
    top:0;

    color:white;
    background-color:red;
    margin-left: 0;
    text-align: left;
    position: fixed;
    width: 100vw;
    padding: 15px;

    
    body {
        position:absolute;
        position:relative;
    }

}

/* div {

    position: relative;
    top: 0%;
} */
img  {
    border-radius: 23px;
    box-shadow: 8px 8px 8px 8px;
    float: right;
    position: sticky;
    top: 0%;
}
.jan{
    float:left;
    position: relative;/* It define relative*/
    left: 25px;
    #1{
        position: absolute;
    }
}
h1 {
    position: sticky;
    left:23px;
    top: 10%;
}
h2 {
    position: absolute;
    top:40%;
    color:red
}